.cards-and-calculations{
    width: 95%;
    padding: 30px 5px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* @media screen and (max-width:640px){
    .cards-and-calculations{
        flex-direction: column-reverse;
    }
} */
@media screen and (max-width:769px){
    .cards-and-calculations{
        flex-direction: column-reverse;
    }
}

