.calculation-container{
    width: 25%;
    text-align: center;
    height: 100vh;
    padding: 0px 15px;
    border-radius: 12px;
    background-color: #ee99194d;
    position: sticky;
    top: 20px;
}

.text-summary-order{
    text-align: left;
    padding-top: 20px;
    line-height: 2rem;
    font-size: 18px;
    font-weight: bolder;
}

.clear-cart-button,
.review-order-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.clear-cart-button:hover,
.review-order-button:hover
.clear-cart-button:focus,
.review-order-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.clear-cart-button:hover,
.review-order-button:hover {
  transform: translateY(-1px);
}

.clear-cart-button:active,
.review-order-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.fa-trash-can{
    margin-left: 15px;
    font-size: 20px;
}
.fa-arrow-right{
    margin-left: 15px;
    font-size: 25px;
}

@media screen and (max-width:769px){
    .calculation-container{
        width: 100%;
        margin: auto;
        position: static;
    }
}
